td {
  font-size: 0px;
  line-height: 0px;
  padding: 0px;
}

body {
  --main-color: #f1c947;
  --accent-color: #5e106a;

  background-color: var(--main-color);
  margin: 0;
  padding: 0;
  max-width: 100dvw;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: var(--accent-color) transparent;
}
